{% extends 'scores/base.html' %}

{% block title %}Upload{% endblock %}

{% block content %}
    <h1>Upload Replay:</h1>
    {% if error %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{ error }}</strong>
        </div>
    {% endif %}

    <form action="{% url 'recapp:upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="detail-table">
            <tr>
                <td>
                    <label for="rec">Replay File: </label>
                </td>
                <td>
                    <input type="file" name="rec" accept=".rec">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="tas">TAS Run?</label>
                </td>
                <td>
                    <input type="checkbox" id="tas" name="tas">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="expected">Expected Score (milliseconds):</label>
                </td>
                <td>
                    <input type="text" id="expected" name="expected">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Upload" class="btn btn-primary">
                </td>
                <td>

                </td>
            </tr>
        </table>
    </form>
{% endblock %}