{% load scores %}

<div class="row">
    <div class="col-md-4">
        <h3>Fastest Scores</h3>
        <ul class="score-list">
            {% for score in fastest_scores %}
                <li>
                    <div>
                        <a href="{% url 'recapp:detail' score.run.submission.id %}">
                            {{ score.run.submission.name }}
                        </a>
                    </div>
                    <div class="spacer">&nbsp;</div>
                    <div>
                        {% if score.is_desync %}
                            <span class="desync">{{ score.score_time|score }}</span>
                        {% else %}
                            {{ score.score_time|score }}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Fastest Realtime</h3>
        <ul class="score-list">
            {% for score in fastest_realtime %}
                <li>
                    <div>
                        <a href="{% url 'recapp:detail' score.run.submission.id %}">
                            {{ score.run.submission.name }}
                        </a>
                    </div>
                    <div class="spacer">&nbsp;</div>
                    <div>
                        {% if score.is_desync %}
                            <span class="desync">{{ score.score_time|score }}</span>
                        {% else %}
                            {{ score.score_time|score }}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Highest FPS (non-TAS)</h3>
        <ul class="score-list">
            {% for score in highest_fps %}
                <li>
                    <div>
                        <a href="{% url 'recapp:detail' score.run.submission.id %}">
                            {{ score.run.submission.name }}
                        </a>
                    </div>
                    <div class="spacer">&nbsp;</div>
                    <div>
                        {{ score.fps|floatformat }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>