{% load scores %}

<div class="row">
    <div class="col-md-6">
        <h2>Mac vs Windows</h2>
        <ul class="score-list">
            {% for run, run2 in mac_win_diff %}
                <li>
                    <div>
                        <a href="{% url 'recapp:detail' run.submission.id %}">
                            {{ run.submission.name }}
                        </a>
                    </div>
                    <div class="spacer">&nbsp;</div>
                    <div>
                        {{ run|run_time }} (win) vs {{ run2|run_time }} (mac)
                    </div>
                </li>
            {% empty %}
                <li>
                    Nothing so far!
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Newphys Broken</h2>
        <ul class="score-list">
            {% for run, run2 in problem_children %}
                <li>
                    <div>
                        <a href="{% url 'recapp:detail' run.submission.id %}">
                            {{ run.submission.name }}
                        </a>
                    </div>
                    <div class="spacer">&nbsp;</div>
                    <div>
                        {{ run|run_time }} (new) vs {{ run2|run_time }} (win)
                    </div>
                </li>
            {% empty %}
                <li>
                    Nothing so far!
                </li>
            {% endfor %}
        </ul>
    </div>
</div>