{% load scores %}

<div class="row">
    <div class="col-md-6 col-lg-6">
        {% if latest_submissions %}
            <h2>Newest Uploads:</h2>
            <ul class="score-list">
            {% for submission in latest_submissions %}
                <li>
                    <div>
                        <a href="{% url 'recapp:detail' submission.id %}">
                            {{ submission.name }}
                        </a>
                        {% if submission.best_run %}
                            {% with run=submission.best_run %}
                                <span>({{ run.os }}, {{ run|run_time }})</span>
                            {% endwith %}
                        {% else %}
                            <span>(Pending)</span>
                        {% endif %}
                    </div>
                    <div class="spacer">&nbsp;</div>
                    <div>
                        {{ submission.upload_date }}
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No recent submissions</p>
        {% endif %}
    </div>
    <div class="col-md-6 col-lg-6">
        {% if latest_runs %}
            <h2>Newest Verified Submissions:</h2>
            <ul class="score-list">
            {% for score in latest_runs %}
                <li>
                    <div>
                        <a href="{% url 'recapp:detail' score.run.submission.id %}">
                            {{ score.run.submission.name }}
                        </a>
                        <span>
                            ({{ score.run.os }}, {{ score.run|run_time }})
                        </span>
                    </div>
                    <div class="spacer">&nbsp;</div>
                    <div>
                        {{ score.run.run_date }}
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No recent verifications</p>
        {% endif %}
    </div>
</div>